<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/823b55d81b.js" crossorigin="anonymous"></script>
    <title>SUYDS</title>
</head>
<body>
    <footer class="footer">
        <div class="redes_sociales">
            <h3>REDES SOCIALES</h3>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="atencion_al_cliente">
            <h3>ATENCIÓN AL CLIENTE</h3>
            <ul>
                <li><a href="#">Quienes Somos?</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Como Comprar?</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Métodos de envios</a></li>
                <li><a href="#">Garantía</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </div>
        <div class="contactos">
            <h3>CONTACTÁNOS</h3>
            <ul>
                <li><i class="fa-brands fa-whatsapp"><a href="#">+5493981078784</a></i></li>
                <li><i class="fa-solid fa-phone"><a href="#">+5493981078784</a></i></li>
                <li><i class="fa-regular fa-envelope"><a href="#">suyds2023@gmail.com</a></i></li>
            </ul>
        </div>
        <div class="medios_de_pagos">
            <h3>MEDIOS DE PAGOS</h3>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-amex"></i>
            <i class="fa-brands fa-cc-paypal"></i>
        </div>
    </footer>
</body>
    
</html>