<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- CSS STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <title>SUYDS</title>
</head> 
<body class="home">
    <main class="home__main">
        <section class="home__main__section">
            <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
                <div class="swiper-slide"><img src="/images/PESCA.jfif" alt="pesca"><h4 class="pesca">PESCA</h4></div>
                <div class="swiper-slide"><img src="/images/CAMPING.jfif" alt="camping"><h4 class="camping">CAMPING</h4></div>
                <div class="swiper-slide"><img src="/images/OPTICA.jfif" alt="optica"><h4 class="optica">ÓPTICA</h4></div>
                <div class="swiper-slide"><img src="/images/NAUTICA.jpg" alt="nautica"><h4 class="nautica">NÁUTICA</h4></div>
                <div class="swiper-slide"><img src="/images/CAZAYTIRODEPORTIVO.jpg" alt="caza y tiro"><h4 class="cazaytiro">CAZA Y TIRO DEPORTIVO</h4></div>
                <div class="swiper-slide"><img src="/images/INDUMENTARIA.jpg" alt="indumentaria"><h4 class="indumentaria">INDUMENTARIA</h4></div>
                <div class="swiper-slide"><img src="/images/CUCHILLERIA.jpg" alt="cuchilleria"><h4 class="cuchilleria">CUCHILLERÍA</h4></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
        </section>
        
        <section class="home__main__section--destacados">
                <h5>PRODUCTOS DESTACADOS</h5> 
                <a href="#">ver todos...</a>
                <article class="home__main__section__article--destacados" data-aos="zoom-in">
                    <img src="/images/reelRotativoPredator307.png" alt="pesca">
                    <h5 class="focus-in-expand">Reel Rotativo Predator 307</h5>
                    <p class="focus-in-expand"><del>$90.000</del></p>
                    <p>$81.999</p>
                    <button><a href="#"></a>VER PRODUCTO</button>
                </article>
                <article class="home__main__section__article--destacados" data-aos="zoom-in">
                    <img src="/images/borseguiesTropperCuero.png" alt="camping">
                    <h5 class="focus-in-expand">Borseguíes Tropper Cuero</h5>
                    <p class="focus-in-expand"><del>$60.000</del></p>
                    <p>$48.999</p>
                    <button><a href="#"></a>VER PRODUCTO</button>
                </article>
                <article class="home__main__section__article--destacados" data-aos="zoom-in">
                    <img src="/images/caña168EstimulaBait.png" alt="optica">
                    <h5 class="focus-in-expand">Caña 1.68m Estimula Bait</h5>
                    <p class="focus-in-expand"><del>$80.000</del></p>
                    <p>$68.999</p>
                    <button><a href="#"></a>VER PRODUCTO</button>   
                </article>
        </section>
        
    </main>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- SWIPER -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- SWIPER INITIALIZE -->
    <script>
        const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
       
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },
      
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      
        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
      </script>
</body>
<script>
    AOS.init();
  </script>
</html>