<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>SUYDS</title>
</head>
<body class="home">
    <header>
        
    </header>
    <main class="home__main">
        <section class="home__main__section">
            <div>
                <article class="home__main__section__article shadow-inset-center">
                    <div>
                        <img src="/images/PESCA.jfif" alt="pesca">
                        <h3>PESCA</h3>
                        <button><a href=""></a>VER MÁS</button>
                    </div>
                </article>
                <article class="home__main__section__article shadow-inset-center">
                    <div>
                        <img src="/images/CAMPING.jfif" alt="camping">
                        <h3>CAMPING</h3>
                        <button><a href=""></a>VER MÁS</button>
                    </div>
                </article>
                <article class="home__main__section__article">
                    <div>
                        <img src="/images/OPTICA.jfif" alt="optica">
                        <h3>ÓPTICA</h3>
                        <button><a href=""></a>VER MÁS</button>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>

    </footer>

</body>
</html>