<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- CSS STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <title>SUYDS</title>
</head> 
<body class="home">
    <main class="home__main">
        <section class="section__banner">           <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/Banner1.jpg" alt="banner1"></div>
                    <div class="swiper-slide"><img src="/images/Banner2.jpg" alt="banner2"></div>
                    <div class="swiper-slide"><img src="/images/Banner3.jpg" alt="banner3"></div>
                    <div class="swiper-slide"><img src="/images/Banner4.jpg" alt="banner4"></div>
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div> -->
                <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
                </div>
            </div>
        </section> 
            
            <hr class="lineaSep">
        <div class="section__div">     
          <div class="enunciado">
            <h4>Productos destacados</h4>
            <a class="verTodos" href="/ofertas">Ver todos...</a>
          </div>
            <section class="section__destacados">
                <article data-aos="flip-left">
                    <img src="/images/reelRotativoPredator307.png" alt="destacado1">
                    <h5>Nombre del producto</h5>
                    <p class="precioDestacado">Precio destacado</p>
                </article>
                <article data-aos="flip-left">
                    <img src="/images/borseguiesTropperCuero.png" alt="destacado2">
                    <h5>Nombre del producto</h5>
                    <p class="precioDestacado">Precio destacado</p>
                </article>
                <article data-aos="flip-left">
                    <img src="/images/caña168EstimulaBait.png" alt="destacado3">
                    <h5>Nombre del producto</h5>
                    <p class="precioDestacado">Precio destacado</p>
                </article>
            </section>

            <hr class="lineaSep">
            
            <aside class="publicidad">
              <img src="/images/Publicidad.jpg" alt="publicidad" data-aos="fade-left">
              <img src="/images/Publicidad.jpg" alt="publicidad" data-aos="fade-left">
            </aside>
              
            <hr class="lineaSep">

            <div class="enunciado">
              <h4>Ofertas imperdibles</h4>
            <a class="verTodos" href="/ofertas">Ver todos...</a>
            </div>
            <section class="section__ofertas">
                <article data-aos="flip-left">
                    <img src="/images/reelRotativoPredator307.png" alt="destacado1">
                    <h5>Nombre del producto</h5>
                    <p class="precioAnt"><del>Precio anterior</del></p>
                    <p class="precio">Precio actual</p>
                </article>
                <article data-aos="flip-left">
                    <img src="/images/borseguiesTropperCuero.png" alt="destacado2">
                    <h5>Nombre del producto</h5>
                    <p class="precioAnt"><del>Precio anterior</del></p>
                    <p class="precio">Precio actual</p>
                </article>
                <article data-aos="flip-left">
                    <img src="/images/caña168EstimulaBait.png" alt="destacado3">
                    <h5>Nombre del producto</h5>
                    <p class="precioAnt"><del>Precio anterior</del></p>
                    <p class="precio">Precio actual</p>
                </article>
            </section>
        </div>   
    </main>
    
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- SWIPER BANNER -->
  <script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressCircle.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      }
    });
  </script>
</body>
<script>
    AOS.init();
  </script>
</html>