<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- CSS STYLES -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <title>SUYDS</title>
</head> 
<body class="home">
  <header class="header">
    <div class="header__div"> 
            <div class="div__hamburguesa">
            <img src="/images/hamburguesa.svg" alt="" class="hamburguesa" >
            </div>
            <div class="header__logo">
                <a class="logo" href="/"><img src="/images/logo.svg" alt=""></a>
                <img src="/images/nombre_logo.svg" alt="" class="nombre_logo">
            </div>

        <div class="header__buscar">
            <a href="" >
                <input type="text" placeholder="Buscar" class="header__input">
                <button type="submit" class="header__button"><i class="fas fa-search"></i></button>
            </a>
        </div>
        <div class="header__div__login">
          <a href="/login" ><img src="/images/usuario.svg" alt=""  class="usuario__carrito"></a>
          <a href="/product-cart"><img src="/images/carrito.svg" alt="" class="usuario__carrito"></a>
      </div>
    </div>
    <nav class="header__nav">
        <ul class="nav-ul">
            <li ><a href="#" class="nav__li">Home</a></li>
            <li><a href="#" class="nav__li">Pesca</a></li>
            <li><a href="#" class="nav__li">Camping</a></li>
            <li><a href="#" class="nav__li">Óptica</a></li>
            <li><a href="#" class="nav__li">Iluminación</a></li>
            <li><a href="#" class="nav__li">Accesorios</a></li>
            <li><a href="#" class="nav__li ">Promociones</a></li>
        </ul>
    </nav>
    
</header>
    <main class="home__ofertas">
        
    </main>
    
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>
<scrip>
    AOS.init();
  </scrip>
</html>