* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}
ul{
    padding: 5px;
}
li {
    list-style: none;
}