:root {
    --sombra: 0px 0px 10px rgb(58, 58, 58);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
}

/* Para buttons */
.precio {
    color: #36be36;
}

.precioAnt {
    color: rgba(255, 0, 0, 0.881);
}

.precioDestacado {
    color: orange;
}

/* Para br */
.lineaSep {
    color: #c0c0c0;
    margin: 1rem 0;
}

.verTodos {
    color: rgb(3, 77, 174);
    margin: 5px 0px;
}