/* MOBILE */
.home__main {
    width: 90%;
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e6e6e6;
}

/* BANNER */
.banner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* DESTACADOS */
.section__destacados {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* OFERTAS */
.section__ofertas {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PUBLICIDAD */
.publicidad{
    width: 90%;
    margin: 0 auto;
}

.publicidad img{
   width: 100%;
   box-shadow: var(--sombra);
}

.swiper3 {
    display: none;
}

/* TABLET */
@media (min-width: 760px){
    hr {
        display: none;
    }
    
    .section__destacados {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .publicidad {
        margin: 0 auto;
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .publicidad img {
        width: 45%;
        margin: 1rem;
    }

    .section__ofertas {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .enunciado {
        margin: 1rem 0rem;
    }

}

/* DESKTOP */
@media (min-width: 1024px){
    
}