@media (min-width :768px){
    /* FOOTER (Ulises)*/
     .footer {
         display: flex;
         justify-content: space-around;
         text-align: center;
     }
 
    /* LOGIN (Ulises */
    .login {
     padding: 20px;
     height: 100vh;
     }
 
    /* HOME (Santiago)*/
    .home__main--mobile {
     display: none;
     }
 
     .home__main--mobileOff {
     display: block;
     }
 
     /* REGISTER (Santiago) */
     .register__main__div {
        width: 100%;
        display: flex;
    }
    
    .register__main__div form {
        width: 30%;
    }
    
    .imagen__registro {
        display: block !important;
        width: 70%;
    }

     /* PRODUCT DETAIL (Yohanna) */
     .img-desc,
     .img-producto {
         width: 30vw;
         margin: 30px auto;
     }
 
     .precio-cant{
         width: auto;
         padding: 20px 5px;
         
     }
     .desc-producto{
         width: 50VW;
     }
     .productDetail__p {
         width: 80%;
         font-size: 20px;
     }
     .tb-producto table{
         width: 550px;
         font-size: 20px;
         
     }
     .img-desc-pre section{
         flex-direction: row;
         justify-content: space-evenly;
         align-items: center;
         margin: 0 20px
     }
     
     .precio-n{
         font-size: 30px;
     }
 
     .a-titulo .titulo .precio-cant{
         display: flex;
         flex-direction: column;
     }
 }
 
 @media (min-width: 1440px){
     /* PRODUCT DETAIL (Yohanna) */
     .productDetail__img{
         width: 480px;
         height: 400px;
     }
     
     .precio-cant{
         width: auto;
         padding: 20px 5px;
     }
 
     .desc-producto{
         width: 50VW;
     }
     
     .productDetail__p {
         width: 80%;
     }
     
     .tb-producto table{
         width: 760px;
     }
     .img-desc-pre section {
         flex-direction: row;
         justify-content: space-evenly;
         gap: 10px;
         
     }
     .precio-n{
         font-size: 35px;
     }
    
     .b-compras input{
         font-size: 20px;
         font-style: var(--font-roboto);
         border: none;
         padding: 10px;
         border-radius: 5px;
     }

    /* REGISTER (Santiago) */
    .register__main__div {
        width: 100%;
        display: flex;
        justify-content: none;
    }
    
    .register__main__div form {
        width: 30%;
    }
    
    .imagen__registro {
        display: block;
        width: 70%;
    }

}
 