*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.main{
    background-color: #DCDCDC62 ;
}
.linea_verde{
    width: 220px;
    height: 10px; /* Ajusta el grosor de la línea según sea necesario */
    background-color:#74D726 ;
    border-radius: 5px;
}

.main__section{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
}
.section__article{
    display: flex;
    align-items: center;
    border: 1px #D9D9D9 solid;
    background-color: white;
}
.article__button {
    display: flex;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}
.article__button input{
    background-color: #EBE4BE;
    width: 30px;
}
.article__button button{
    width: 20%;
}
.article__h5{
    flex-direction: column;
}
.descripcion{
    display: block;
    font-size: 10px;
    flex-direction: column;
}
#eliminar{
    width: 40%;
    padding-top: 10px;
    left: 10px;
}
p{
    font-weight: bold;
}
.article__precio{
    margin: 10px;
}
.article__precio p{
    padding-top: 10px;
}
.img{
    width: 35%;
    margin: 5px;
}


.div__subtotal{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding-top: 10px;
}
.div__subtotal p {
    font-size: 13px;
}
.linea__icono{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.icono{
    color: #74D726;
    
}
#envio{
    font-size: 10px;
    color: #32CD32;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 20px;
    text-align: center;
}
.inputs{
    display: flex;
    width: 100%;
    padding-bottom: 25px;
    justify-content: space-around;
}
.inputs input{
    width: 125px;
    padding: 5px;
    
}
.input__1{
    color: #D9D9D9;
    font-size: 10px;
    text-align: center;
}
.input__2{
    color: #64CCC5;
    border: 1px #176B87 solid;
    text-align: center;
}
.div__total{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.div__finalizar{
    display: flex;
    justify-content: center;
    
}
.div__finalizar input{
    width: 125px;
    font-size: 15px;
    background-color: #50B5E0;
    color: white;
    margin: 5px;
    padding: 5px;
}

@media  (min-width: 369px){
    .main__section{
        justify-content: center;
    }
    .descripcion{
        text-align: center;
    }
    .article__precio{
        margin-left: 50px;
    }
    .img{
        padding-right: 20px;
    }

}
@media  (min-width: 769px){
    .main__section{
        justify-content: center;
    }
    .img{
        width: 25%;
        padding-right: 50px;
    }
    .section__article{
        justify-content: center;
        width: 75%;
    }
    .div__total{
        justify-content: space-around;
    }
    .linea_verde{
        width: 350px;
        padding: 6px;
    }
    #envio{
        font-size: 15px;
    }
    .article__button{
        padding-right: 50px;
        margin-left: 50px;
        
    }
}

