.register__main {
    width: 98%;
    margin: 0 auto;
    padding: 1rem 0;
}

.register__main__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register__main__div form {
    width: 60%;
}

.register__main__div img {
    display: block;
}

.formulario .icono {
    position: absolute;
    padding: 5px;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
    right: 50px;
    top: 50px;
    z-index: 1;
    font-size: 20px;
}

.formulario_divs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formulario_divs p{
    width: 80%;
    margin: 1rem 0;
}

.formulario_divs input{
    width: 15%;
    margin: 1rem 0;
}

.formulario_divs a{
    color: #ffffff;
}

.formulario .titular {
    background-color: rgb(18, 18, 18);
    border-radius: 5px 5px 5px 0px;
    border-color: #ffffff;
    padding: 5px;
    color: #ffffff;
    letter-spacing: 1px;
}

.pass__container {
    position: relative;
    display: flex;
}