.footer {
    width: 100%;
    background-color: #1d1d1d;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.div_columnas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer_h5 {
    color: #e6e6e6;
}

.div_copyright p {
    color: #616161;
}

.div_contactanos {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_quienesSomos {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_redesSociales {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_redesSociales_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_redesSociales_container a {
    max-width: 40px;
}

.div_redesSociales_container a img {
    width: 100%;
}

.div_atajos {
    width: 22%;
}

.div_atajos ul a {
    color: #bbbbbb;
}

.footer_ul li a {
    color: #bbbbbb;
}

.div_copyright {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_copyright div {
    display: flex;
}

.footer_hr {
    color: #c0c0c0;
}