.footer {
    width: 100%;
    background-color: #1d1d1d;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.div_columnas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.footer_h5 {
    color: #e6e6e6;
}

.div_copyright p {
    color: #616161;
}

.div_contactanos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_quienesSomos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_redesSociales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_redesSociales_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.div_redesSociales_container a {
    max-width: 35px;
}

.div_redesSociales_container a img {
    width: 100%;
}

.div_atajos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_atajos ul a {
    color: #bbbbbb;
}

.footer_ul li a {
    color: #bbbbbb;
}

.div_copyright{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer_hr {
    color: #c0c0c0;
}

@media (min-width:639px) {
    .div_columnas{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 0.5rem;
    }
    .div_contactanos {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div_quienesSomos {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div_redesSociales {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div_atajos {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div_copyright{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}