.formulario {
    width: 90%;
    max-width: 400px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #ffffff;
    gap: 2rem;
    background: #2193b0; 
    background: -webkit-linear-gradient(to top, #2193b0, #6dd5ed); 
    background: linear-gradient(to top, #2193b0, #6dd5ed);
    position: relative;
}

.input {
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(0 0 0 / 0%);
    color: rgb(41, 37, 37);
}

.ojo2 {
    position: absolute;
    
}