.header {
  background: #01afda;
  background: radial-gradient(
    circle,
    #01afda 86%,
    #015e75ea 100%
  );
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 33%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.header__logo a {
  max-width: 45%;
}

.header__logo a img {
  width: 100%;
}

.header__logo img {
  width: 40%;
}

.header__search {
  width: 33%;
  display: flex;
  justify-content: center;
}

.search-form {
  position: relative;
}

.search-form input {
  width: 100%;
}

.search-form input:focus {
  outline: none;
  border: solid 0.5px #808080;
}

.search-form button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #ffffff;
}

.search-form button i {
  color: #bdbdbd;
}

.header__user {
  width: 33%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.header__user a {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#botonAdmin {
  background-color: #92c231;
}

#botonAdmin a {
  color: #000000;
}

#botonSalir {
  background-color: #a81313;
}

.usuario__carrito {
  width: 35%;
}

.usuario__perfil {
  width: 50%;
  border-radius: 50%;
}

.usuario__perfil2 {
  width: 35%;
}

.categorias {
  display: none;
}

.header__nav ul{
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.header__nav ul li {
  font-size: 16px;
  width: 12%;
  text-align: center;
}

.header__nav ul li a {
  color: #ffffff;
  width: 100%;
}

@media (max-width :639px) {

  .header__nav {
      display: none;
  }

  .categorias {
      display: block;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
   }
  .search-form {
    width: 80%;
  }
}

.categorias {
  position: relative;
}

.options a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.options a:hover {
  background-color: #ddd;
}

#categoriasBtn {
  background-color: #01afda;
  border: none;
}