/* CLASES GENERALES */
.lineaSep{
    margin: 1rem 0;
}

.precioAnt {
    color: #e61e1e;
}

.precioDestacado {
    color: #f84e11;
}

.precioActual {
    color: #159715;
}

.titulosSections {
    margin-bottom: 5px;
}
/* *******************MOBILE******************** */
.home__main--mobileOff {
    display: none;
}

.home__main {
    width: 98%;
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e4e4e4;
}

/* BANNER */
.home__main--banner {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__main--mobile {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
}

/* SECTIONS */
.home__main__section {
    width: 95%;
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PUBLICIDAD */
.publicidad {
    width: 95%;
    margin: 0 auto;
}

.publicidad img{
    width: 100%;

}

.titularesContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titularesContainer a {
    color: blue;
}

/* ******************MOBILE OFF******************** */
    /* DESTACADOS */
.home__section--mobileOff {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
}