.home__main {
  width: 98%;
  margin: 0px auto;
  font-family: var(--font-Monserrat);
  
}

/* BANNER */
.home__main--banner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.home_container {
  display: flex;
  gap: 25px;
  width: 100%;
  border: 0.5px solid #9e9e9e;
  padding: 5px;
}

.aside_home  {
  display: none;
 
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-left: 0.5px solid #9e9e9e;
  padding: 0.5rem;
}

.aside_home div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.aside_home div img {
  width: 100%;
}

.div_sections {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productCard_section {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  margin: 0 5vw; 
  justify-content: center;
  align-items: center;
}

.productCard_article {
  width: 80vw;
  padding: 2px 10px;
  border: 0.5px solid #9e9e9e;
  border-radius: 7px 0 7px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productCard_article:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.productCard_article h3 {
  margin: 10px 0;
  font-size: 1.1em;
  
}
.productCard_article p {
  font-size: 1.5em;
  margin-bottom: 10px;
  
}

.productCard_article img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 30vh;
}

.productCard_div {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}

.productCard_div p {
  
  color: #0456a3;
}

.productCard_div span {
  display: block;
  color: var(--color-verde);
  margin-bottom: 10px;
}
.productCard_article button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px ;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin-bottom: 10px;
}

.productCard_article button:hover {
  background-color: #3498db;
}
.home__video {
  width: 100%;
}

@media (min-width :576px) {  
  .productCard_article {
    width: 40vw;
    margin-top: 20px;
  }

  .productCard_section {
    grid-template-columns: repeat(2,1fr);
    margin: 0 2vw;
    gap: 0px;
  }

  .productCard_article button {width: 70%;}
}

@media (min-width :768px) {
  .productCard_section {
      grid-template-columns: repeat(2, 1fr);
      width: 70vw;
  }

  .div_sections {
    width: 70vw;
    
  }
  .home_container {
    display: flex;
    align-items: start;
   
}

  .aside_home {
    display: flex;
    width: 20vw;
    border: 0.5px solid #9e9e9e;
  }

  .productCard_article {
    width: 30vw;
   
  }

  .productCard_article button {width: 80%;}
}

@media (min-width :992px) {
  .productCard_section {
      grid-template-columns: repeat(3,1fr);
  }

  .productCard_article {
    width: 20vw;
   
  }

  .productCard_article button {width: 90%;}
}