.login {
    background-image: url(/images/login/fondo-mar-celeste.png);
    background-size: cover;
    padding: 20px;
    height: 100vh;
}

.acceder {
    text-align: center;
}

.acceder img {
    width: 130px;
}

.acceder p {
    font-family: cursive;
    padding: 5px;
    font-size: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.error-message {
    color: red;
    font-size: 10px;
    margin: 5px auto;
    display: none;
}

.input-container {
    background: none;
}

.input-style{
    outline: none;
    border-style: none;
    height: 30px;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid black;
}

.forget {
    padding-top: 15px;
    text-align: center;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button button {
    border: 0;
    width: 110px; 
    font-size: 15px;
    font-family: cursive;
    margin-bottom: 10px;
    color: white; 
    border-radius: 25px;
    background-color: rgb(83, 183, 255);
}

.login-others {
    margin-top: 15px;
    text-align: center;
}

.others-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.others-container div {
    display: flex;
    margin: 10px 0 2px 0;
    border: 1px solid black;
    padding: 5px
}

.others-container div i {
    margin-right: 5px;
}


.register-noLogin {
    margin-top: 10px;
}

.register-noLogin p a {
    text-decoration: underline;
}

@media (min-width: 768px) {
    
    

}

@media (min-width:1024px){

    .main-login {
        background-image: url(/images/login/austin-neill-n4FwReqOQz0-unsplash.jpg);
        background-size: cover;
        display: flex;
        justify-content: end;
        height: 100vh;
    }

    .login {
        padding: 30px 102px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}