

@media (min-width :768px) {

    /* FOOTER (Ulises)*/
    .footer {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    /* LOGIN (Ulises */
    .main-login {
       width: 90%;
       margin: 15px auto;
    }
    .login{
        padding: 30px 102px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* HOME (Santiago)*/
    .home__main--mobile {display: none;}

    .home__main--mobileOff {display: block;}

    /* REGISTER (Santiago) */
    .register__main__div {
        width: 100%;
        display: flex;
    }

    .register__main__div form {width: 30%;}

    .imagen__registro {
        display: block !important;
        width: 70%;
    }

    /* PRODUCT DETAIL (Yohanna) */
    .productDetail__section {
        margin: 0 10vw;
        justify-content: space-evenly;
        gap: 2vw;
    }

    .coso {
        width: 40%;
    }

    .img-desc,
    .img-producto {

        width: 40vw;
        margin-left: 5vw;
    }

    .productDetail__section .productDetail__img {
        margin-left: 5vw;
        width: 30vw;
    }

    .precio-cant {
        margin: 2vw;
        padding: 15px 10px;
        width: 40vw;
        flex-direction: row;
        gap: 8px;
    }

    .precio-cant table {
        width: 18vw;
        margin: 0;
        justify-content: space-evenly;
    }

    .precio-cant table td, button {width: 3vw;}
    .precio-cant table #cantidad {width: 7vw;}

    .b-compras input {width: 18vw;}

    .desc-producto {width: 50vw;}

    .productDetail__p span {
        width: 40vw;
        font-size: 20px;
    }

    .productDetail__h4{font-size: 20px;}
    .tb-producto {
        width: 40vw;
        font-size: 20px;
        margin-right: 5vw;
    }

    .img-desc-pre section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 20px
    }

    .precio-n {font-size: 30px;}

    .a-titulo,
    .titulo,
    .precio-cant {
        width: 40vw;
        height: auto;
        font-size: 25px;
        margin: 5vw 0 5vh;  
        /* text-align: left; */
    }
    .header__nav {
        display: flex;
        
        justify-content:space-around;
        margin-right: 0;
        width: 100vw;
        background-color: black;
    }

    .nav-ul{
        flex-wrap: wrap;
        gap: 20px;
    }
}   



@media (min-width: 1024px) {

    /* PRODUCT DETAIL (Yohanna) */
    .nav-ul{
        flex-wrap: wrap;
        gap: 50px;
    }

    .precio-cant {width: 35vw;}

    .desc-producto {width: 50vw;}

    .productDetail__p {width: 80%;}
    
    

    .img-desc-pre .productDetail__section {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
    }

    .precio-n {font-size: 35px;}

    .b-compras input {width: 15vw;}

    /* REGISTER (Santiago) */
    .register__main__div {
        width: 100%;
        display: flex;
        justify-content: none;
    }

    .register__main__div form {width: 30%;}

    .imagen__registro {
        display: block;
        width: 70%;
    }
    /* LOGIN ULISES */
    
    .main-login {
        background-image: url(/images/login/austin-neill-n4FwReqOQz0-unsplash.jpg);
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 90%;
        margin: 15px auto;
        
    }

    .login {
        padding: 30px 102px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}