@media (min-width :768px) {

    /* FOOTER (Ulises)*/
    .footer {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    /* LOGIN (Ulises */
    .main-login {
       width: 90%;
       margin: 15px auto;
    }
    .login{
        padding: 30px 102px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* REGISTER (Santiago) */
    .register__main__div {
        width: 100%;
        display: flex;
    }

    .register__main__div form {width: 30%;}

    .imagen__registro {
        display: block !important;
        width: 70%;
    }
}   



@media (min-width: 1024px) {

    /* REGISTER (Santiago) */
    .register__main__div {
        width: 100%;
        display: flex;
        justify-content: none;
    }

    .register__main__div form {width: 30%;}

    .imagen__registro {
        display: block;
        width: 70%;
    }
    /* LOGIN ULISES */
    
    .main-login {
        background-image: url(/images/login/austin-neill-n4FwReqOQz0-unsplash.jpg);
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        width: 90%;
        margin: 15px auto;
        
    }

    .login {
        padding: 30px 102px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}