.productDetail__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    justify-content: center;
    font-family: var(--font-Roboto); 
}

.img-desc-pre section {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.productDetail__h4 {margin: 10px}

.productDetail__section {
    justify-content: center;
    margin: 0 10vw;
}

.productDetail__section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-producto{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 80vw;
    margin: 5vw;
} 

.desc-producto{
    width: 80vw;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio-cant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    padding: 15px 5px;
    width: 40vw;
    align-items: center;
    background-color: var(--color-grisSuave); 
    border-radius: 25px;
}



.precio-cant table {
    margin: 0px 20px 10px;
    width: 40vw;
    justify-content: space-evenly;
}


.precio-cant table td, button {
    width: 9vw;
    margin: 0;
}

.precio-cant table #cantidad {width: 15vw;}





.b-compras input{
    font-size: 16px;
    font-style: var(--font-Roboto);
    border: none;
    padding: 7px 5px;
    border-radius: 5px;
    background-color: var(--color-verde);
    color: #EDEDED;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    opacity: 1.0;
    width: 35vw;
}

.b-compras :hover{background-color: red;}

.precio-n{font-size: 30px;}

.tb-producto{
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 15px;  
}

.tb-producto table {border: 1px solid black;}

.tb-producto td {
    width: 120px;
    border: 0.5px solid black;
    margin: 10px; 
}

.productDetail__article{display: flex;}

table td, table input{width: 40px; }

span{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 100;
    align-items: center;
}



.titulo{  
    width: 80vw;
    font-size: 27px;
    font-weight:bold;
    margin: 10px auto;
    text-align: center;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {appearance: textfield;}



.precio-cant {
    margin: 2vw;
    padding: 15px 10px;
    width: 80vw;
    flex-direction: row;
    gap: 8px;
}

.precio-cant table {
    width: 18vw;
    margin: 0;
    justify-content: space-evenly;
}

.precio-cant table td, button {width: 3vw;}
.precio-cant table #cantidad {width: 7vw;}

.b-compras input {width: 150px;}