.productDetail__main {
    width: 100%;
    margin: 1rem 0;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
}

.productDetail__section {
    max-width: 50%;
    border: 1px solid #757575;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.productDetail__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem 0;
}

.productDetail__img {
    border: 0.7px solid #757575;
    width: 100%;
}

.b-compras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.b_detail_comprar {
    border-radius: 5px;
    background-color: #237cf0;
    color: #f8f8f8;
    padding: 3px 6px;
}

.b_detail_agregar {
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #237cf0;
    padding: 3px 6px;
}

.detail_precio {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.detail_descripcion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.detail_catacteristicas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.detail_discount {
    color: #237cf0;;
}

.detail_mediosDePago {
    width: 100%;
    display: flex;
    align-items: center;
}

.detail_mediosDePago h5 {
    width: 35%;
}

.detail_mediosDePago img {
    width: 20%;
    max-width: 60px;
}