<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/carrito.css">
    <script src="https://kit.fontawesome.com/372b3f82f5.js" crossorigin="anonymous"></script>
    <title>SUYDS Pesca</title>
    <link rel="icon"  href="/images/SUYDS-logo.svg">
</head>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
      <main class="main_class">
         <div class="carrito">
            <h2 class="h2_carrito">Carrito de compras</h2>
             <div class="producto">
                <img class="img_class" src="/images/productos/ANAFE-PORTATIL-BUTANO.jpg" alt="Product 7">
                <div class="detalles-producto">
                    <p class="nombre_producto">Anafe Portatil</p>
                    <p class="precio">$40.00</p>
                </div>
                <a href="#">
                    <img src="/images/eliminar.svg" alt="" id="eliminar">
                </a>
                
            </div>
            <div class="producto">
                <img class="img_class" src="/images/productos/ANZUELO.jpg" alt="Product 8">
                <div class="detalles-producto">
                    <p class="nombre_producto">Anzuelo</p>
                    <p class="precio">$45.00</p>
                </div>
                <a href="#">
                    <img src="/images/eliminar.svg" alt="" id="eliminar">
                </a>
            </div>
            <div class="producto">
                <img class="img_class" src="/images/productos/BENGALA-NAUTICA-HOMOLOGADA.jpg" alt="Product 9">
                <div class="detalles-producto">
                    <p class="nombre_producto">Bengala nautica</p>
                    <p class="precio">$50.00</p>
                </div>
                <a href="#">
                    <img src="/images/eliminar.svg" alt="" id="eliminar">
                </a>
            </div> 
           
            <div class="total">
                <h3>Total: $135.00</h3>
                <a href="/">
                    <button  class="button">Finalizar pedido</button>
                </a>
                
            </div>
        </div> 
       
    
    </main>
   
    <%- include('./partials/footer.ejs') %>
</body>
</html>