<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- CSS STYLES -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <!-- SWIPER -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/823b55d81b.js" crossorigin="anonymous"></script>
  <title>SUYDS</title>
</head>

<body class="home">
  <header class="header">
    <div class="header__div"> 
            <div class="div__hamburguesa">
            <img src="/images/hamburguesa.svg" alt="" class="hamburguesa" >
            </div>
            <div class="header__logo">
              <a class="logo" href="/"><img src="/images/logo.svg" alt=""></a>
              <img src="/images/nombre_logo.svg" alt="" class="nombre_logo">
          </div>

        <div class="header__buscar">
            <a href="" >
                <input type="text" placeholder="Buscar" class="header__input">
                <button type="submit" class="header__button"><i class="fas fa-search"></i></button>
            </a>
        </div>
        <div class="header__div__login">
          <a href="/login" ><img src="/images/usuario.svg" alt=""  class="usuario__carrito"></a>
          <a href="/product-cart"><img src="/images/carrito.svg" alt="" class="usuario__carrito"></a>
      </div>
    </div>
    <nav class="header__nav">
        <ul class="nav-ul">
            <li ><a href="#" class="nav__li">Home</a></li>
            <li><a href="#" class="nav__li">Pesca</a></li>
            <li><a href="#" class="nav__li">Camping</a></li>
            <li><a href="#" class="nav__li">Óptica</a></li>
            <li><a href="#" class="nav__li">Iluminación</a></li>
            <li><a href="#" class="nav__li">Accesorios</a></li>
            <li><a href="#" class="nav__li ">Promociones</a></li>
        </ul>
    </nav>
    
</header>
    <main class="home__main">
        
        <!-- BANNER -->
        <div class="home__main--banner">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/Banner1.jpg" alt="banner1"></div>
                    <div class="swiper-slide"><img src="/images/Banner2.jpg" alt="banner2"></div>
                    <div class="swiper-slide"><img src="/images/Banner3.jpg" alt="banner3"></div>
                    <div class="swiper-slide"><img src="/images/Banner4.jpg" alt="banner4"></div>
                </div>
                <div class="autoplay-progress">
                <svg viewBox="0 0 48 48">
                    <circle cx="24" cy="24" r="20"></circle>
                </svg>
                <span></span>
                </div>
            </div>
        </div> 

        <div class="home__main--mobile">
            <section class="home__main__section">
              <div class="titularesContainer">
                <h4 class="titulosSections">Ofertas</h4>
                <a href="#">Ver más</a>
                </div>
                    <!-- Swiper -->
                <div class="swiper mySwiper2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado1"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioDestacado">$36.560</p>
                    </div>
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado2"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioDestacado">$36.560</p>
                    </div>
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado3"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioDestacado">$36.560</p>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
            </section>

            <hr class="lineaSep">

              <div class="publicidad">
                <img src="/images/Publicidad2.jpg" alt="publicidad">
              </div>

            <hr class="lineaSep">
              
              <section class="home__main__section">
                <div class="titularesContainer">
                  <h4 class="titulosSections">Ofertas</h4>
                  <a href="#">Ver más</a>
                  </div>
                              <!-- Swiper -->
                <div class="swiper mySwiper2">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado1"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioAnt"><del>$36.560</del></p>
                      <p class="precioActual">$25.420</p>
                    </div>
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado2"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioAnt"><del>$36.560</del></p>
                      <p class="precioActual">$25.420</p>
                    </div>
                    <div class="swiper-slide">
                      <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado3"></a>
                      <p>Reel Rotativo Predator 307</p>
                      <p class="precioAnt"><del>$36.560</del></p>
                      <p class="precioActual">$25.420</p>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </section>
          </div>

          <!-- ******TABLET Y DESKTOP****** -->
          <div class="home__main--mobileOff">
            
            <section class="home__main__section">
              <div class="titularesContainer">
              <h4 class="titulosSections">Productos destacados</h4>
              <a href="#">Ver más</a>
              </div>
              <div class="swiper mySwiper3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado1"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado2"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado3"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado4"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado5"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
                <div class="swiper-slide">
                  <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado6"></a>
                  <h3>Reel Rotativo Predator 307</h3>
                  <p class="precioDestacado">$36.560</p>
                </div>
              </div>
              <div class=".swiper-pagination"></div>
              <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
            </div>
          </section>

          <hr class="lineaSep">
          <div class="publicidad">
            <img src="/images/Publicidad.jpg" alt="publicidad">
          </div>
          <hr class="lineaSep">

          <section class="home__main__section">
            <div class="titularesContainer">
              <h4 class="titulosSections">Ofertas</h4>
              <a href="#">Ver más</a>
              </div>
            <div class="swiper mySwiper3">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado1"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado2"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado3"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/reelRotativoPredator307.png" alt="destacado4"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/borseguiesTropperCuero.png" alt="destacado5"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
              <div class="swiper-slide">
                <a href="/productDetail"><img src="/images/caña168EstimulaBait.png" alt="destacado6"></a>
                <h3>Reel Rotativo Predator 307</h3>
                <p class="precioAnt"><del>$36.560</del></p>
                <p class="precioActual">$25.420</p>
              </div>
            </div>
            <div class=".swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>

        </div>


    </main>
    
    <footer class="footer">
      <div class="redes_sociales">
          <h3>REDES SOCIALES</h3>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-square-facebook"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="atencion_al_cliente">
          <h3>ATENCIÓN AL CLIENTE</h3>
          <ul>
              <li><a href="#">Quienes Somos?</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="#">Como Comprar?</a></li>
              <li><a href="#">Promociones</a></li>
              <li><a href="#">Métodos de envios</a></li>
              <li><a href="#">Garantía</a></li>
              <li><a href="#">Contactos</a></li>
          </ul>
      </div>
      <div class="contactos">
          <h3>CONTACTÁNOS</h3>
          <ul>
              <li><i class="fa-brands fa-whatsapp"><a href="#">+5493981078784</a></i></li>
              <li><i class="fa-solid fa-phone"><a href="#">+5493981078784</a></i></li>
              <li><i class="fa-regular fa-envelope"><a href="#">suyds2023@gmail.com</a></i></li>
          </ul>
      </div>
      <div class="medios_de_pagos">
          <h3>MEDIOS DE PAGOS</h3>
          <i class="fa-brands fa-cc-mastercard"></i>
          <i class="fa-brands fa-cc-visa"></i>
          <i class="fa-brands fa-cc-amex"></i>
          <i class="fa-brands fa-cc-paypal"></i>
      </div>
  </footer>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Swiper1 -->
  <script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          progressCircle.style.setProperty("--progress", 1 - progress);
          progressContent.textContent = `${Math.ceil(time / 1000)}s`;
        }
      }
    });
  </script>

  <!-- Swiper2 -->
  <script>
    var swiper = new Swiper(".mySwiper2", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <!-- Swiper3 -->
<script>
  var swiper = new Swiper(".mySwiper3", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
  });
</script>

<!-- AOS -->
<script>
  AOS.init();
</script>
</body>
</html>