<footer class="footer">
    <div class="div_columnas">
        <div class="div_contactanos">
            <h5 class="footer_h5">Contáctanos</h5>
            <ul class="footer_ul">
                <li>
                    <a href="#">+5493981078784</a>                  
                </li>
                <li>                   
                    <a href="#">+5493981078784</a>       
                </li>
                <li>                   
                    <a href="#">suyds2023@gmail.com</a>                  
                </li>
            </ul>
        </div>
        <div class="div_quienesSomos">
            <h5 class="footer_h5">¿Quienes somos?</h5>
            <ul class="footer_ul">
                <li>
                    <a href="main">Nuestro equipo</a>
                </li>
                <li>
                    <a href="#">Sobre la página</a>
                </li>
                <li>
                    <a href="#">Compromiso</a>
                </li>
                <li>
                    <a href="#">Comunidad</a>
                </li>
            </ul>
        </div>
        <div class="div_redesSociales">
            <h5 class="footer_h5">Redes sociales</h5>
            <div class="div_redesSociales_container">
                <a href="#">
                    <img src="/images/icon_twitter.png" alt="icontwitter">
                </a>
                <a href="#">
                    <img src="/images/icon_facebook.png" alt="iconfacebook">
                </a>
                <a href="#">
                    <img src="/images/icon_instagram.png" alt="iconinstagram">
                </a>
            </div>
            
        </div>
        <div class="div_atajos">
            <h5 class="footer_h5">Atajos de usuario</h5>
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Destacados</a>
                </li>
                <li>
                    <a href="#">Categorías</a>
                </li>             
            </ul>          
        </div>
    </div>
    <hr class="footer_hr">
    <div class="div_copyright">       
        <p>Grupo11, Comisión22, Formar, Digital House</p>
        <p>&copy 2024 SUYDS</p>
        <p>Todos los derechos reservados</p>
    </div>
</footer>
<%- include('./scripts') %>