<footer class="footer">
    <!-- <div class="redes_sociales">
        <h5>REDES SOCIALES</h5>
        <a href=""><img src="/images/icon_twitter.png" alt="icontwitter"></i></a>
        <a href=""><img src="/images/icon_facebook.png" alt="iconfacebook"></a>
        <a href=""><img src="/images/icon_instagram.png" alt="iconinstagram"></i></a>
    </div>
    <div class="footer_atajos">
        <h5></h5>
        <ul>
            <li><a href="#">Quienes Somos?</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Como Comprar?</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Métodos de envios</a></li>
            <li><a href="#">Garantía</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
    <div class="atencion_al_cliente">
        <h5>ATENCIÓN AL CLIENTE</h5>
        <ul>
            <li><a href="#">Quienes Somos?</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Como Comprar?</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Métodos de envios</a></li>
            <li><a href="#">Garantía</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
    <div class="contactos">
        <h5>CONTACTÁNOS</h5>
        <ul>
            <li><i class="fa-brands fa-whatsapp"><a href="#">+5493981078784</a></i></li>
            <li><i class="fa-solid fa-phone"><a href="#">+5493981078784</a></i></li>
            <li><i class="fa-regular fa-envelope"><a href="#">suyds2023@gmail.com</a></i></li>
        </ul>
    </div>
    <div class="medios_de_pagos">
        <h5>MEDIOS DE PAGOS</h5>
        <a href="#"><img src="/images/icon_mastercard.png" alt="mastercard"></a>
        <a href="#"><img src="/images/icon_visa.png" alt="visa"></a>
        <a href="#"><img src="/images/icon_americanexpress.png" alt="amexpress"></a>
        <a href="#"><img src="/images/icon_paypal.png" alt="paypal"></a>
    </div> -->
    <div class="div_columnas">
        <div class="div_contactanos">
            <h5 class="footer_h5">Contáctanos</h5>
            <ul class="footer_ul">
                <li>
                    <a href="#">+5493981078784</a>                  
                </li>
                <li>                   
                    <a href="#">+5493981078784</a>       
                </li>
                <li>                   
                    <a href="#">suyds2023@gmail.com</a>                  
                </li>
            </ul>
        </div>
        <div class="div_quienesSomos">
            <h5 class="footer_h5">¿Quienes somos?</h5>
            <ul class="footer_ul">
                <li>
                    <a href="#">Nuestro equipo</a>
                </li>
                <li>
                    <a href="#">Sobre la página</a>
                </li>
                <li>
                    <a href="#">Compromiso</a>
                </li>
                <li>
                    <a href="#">Comunidad</a>
                </li>
            </ul>
        </div>
        <div class="div_redesSociales">
            <h5 class="footer_h5">Redes sociales</h5>
            <div class="div_redesSociales_container">
                <a href="#">
                    <img src="/images/icon_twitter.png" alt="icontwitter">
                </a>
                <a href="#">
                    <img src="/images/icon_facebook.png" alt="iconfacebook">
                </a>
                <a href="#">
                    <img src="/images/icon_instagram.png" alt="iconinstagram">
                </a>
            </div>
            
        </div>
        <div class="div_atajos">
            <h5 class="footer_h5">Atajos de usuario</h5>
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Destacados</a>
                </li>
                <li>
                    <a href="#">Categorías</a>
                </li>             
            </ul>          
        </div>
    </div>
    <hr class="footer_hr">
    <div class="div_copyright"> 
        <div>
            <p>Grupo11, Comisión22, Formar, Digital House</p>
            <p><span>&copy</span>2024 SUYDS</p>
            <p>Todos los derechos reservados</p>
        </div>
    </div>
</footer>