<footer class="footer">
    <div class="redes_sociales">
        <h3>REDES SOCIALES</h3>
        <a href=""><img src="/images/icon_twitter.png" alt="icontwitter"></i></a>
        <a href=""><img src="/images/icon_facebook.png" alt="iconfacebook"></a>
        <a href=""><img src="/images/icon_instagram.png" alt="iconinstagram"></i></a>
    </div>
    <div class="atencion_al_cliente">
        <h3>ATENCIÓN AL CLIENTE</h3>
        <ul>
            <li><a href="#">Quienes Somos?</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Como Comprar?</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Métodos de envios</a></li>
            <li><a href="#">Garantía</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
    <div class="contactos">
        <h3>CONTACTÁNOS</h3>
        <ul>
            <li><i class="fa-brands fa-whatsapp"><a href="#">+5493981078784</a></i></li>
            <li><i class="fa-solid fa-phone"><a href="#">+5493981078784</a></i></li>
            <li><i class="fa-regular fa-envelope"><a href="#">suyds2023@gmail.com</a></i></li>
        </ul>
    </div>
    <div class="medios_de_pagos">
        <h3>MEDIOS DE PAGOS</h3>
        <a href="#"><img src="/images/icon_mastercard.png" alt="mastercard"></a>
        <a href="#"><img src="/images/icon_visa.png" alt="visa"></a>
        <a href="#"><img src="/images/icon_americanexpress.png" alt="amexpress"></a>
        <a href="#"><img src="/images/icon_paypal.png" alt="paypal"></a>
    </div>
</footer>