<header class="header">
    <div class="header__div"> 
            <div class="div__hamburguesa">
            <img src="/images/hamburguesa.svg" alt="" class="hamburguesa" >
            </div>
            <div class="header__logo">
              <a class="logo" href="/"><img src="/images/logo.svg" alt=""></a>
              <img src="/images/nombre_logo.svg" alt="" class="nombre_logo">
          </div>

        <div class="header__buscar">
            <a href="" >
                <input type="text" placeholder="Buscar" class="header__input">
                <button type="submit" class="header__button"><i class="fas fa-search"></i></button>
            </a>
        </div>
        <div class="header__div__login">
          <a href="/users/login" ><img src="/images/usuario.svg" alt=""  class="usuario__carrito"></a>
          <a href="/carrito"><img src="/images/carrito.svg" alt="" class="usuario__carrito"></a>
      </div>
    </div>
    <nav class="header__nav">
        <ul class="nav-ul">
            <li><a href="#" class="nav__li">Home</a></li>
            <li><a href="#" class="nav__li">Pesca</a></li>
            <li><a href="#" class="nav__li">Camping</a></li>
            <li><a href="#" class="nav__li">Óptica</a></li>
            <li><a href="#" class="nav__li">Iluminación</a></li>
            <li><a href="#" class="nav__li">Accesorios</a></li>
            <li><a href="#" class="nav__li ">Promociones</a></li>
        </ul>
    </nav>
</header>