<header class="header">

    <div class="header__container">
        <div class="header__logo">
            <a href="/"><img src="/images/logo.svg" alt="logo"></a> 
            <img src="/images/nombre_logo.svg" alt="nombre-logo">
        </div>
        <div class="header__search">
            <form action="/search" method="get" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar..." class="header__input">
                <button type="submit" class="header__button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- MENU HAMBURGUESA -->
        <div class="categorias">
            <a id="categoriasBtn"><i class="fa-solid fa-bars"></i></a>
            <div id="categoriasOptions" class="options">
                <a href="/products/category/<%=1%>" class="nav-li">Pesca</a>
                <li><a href="/products/category/2" class="nav-li">Camping</a></li>
                <li><a href="/products/category/3" class="nav-li">Óptica</a></li>
                <li><a href="/products/category/4" class="nav-li">Iluminación</a></li>
                <li><a href="/products/category/5" class="nav-li">Accesorios</a></li>
            </div>
        </div>
        <!-- MENU HAMBURGUESA -->
        <div class="header__user">
            <% if (locals.userLogin) { %>
                <a href="/users/profile">
                    <img src="/images/avatars/<%=userLogin.avatar||'default.png'%>" alt="" class="usuario__perfil">
                </a>
            <% } else { %>
                <a href="/users/login">
                    <img src="/images/usuario.svg" alt="" class="usuario__perfil2">
                </a>
            <% } %>
            <a href="/carrito" class="position-relative">
                <img src="/images/carrito.svg" alt="" class="usuario__carrito">
                <span id="cart-total-items" class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger">
                    0
                  </span>
            </a>
        </div>
    </div>
    <nav class="header__nav">
        <ul>
            <li><a href="/" class="nav-li">Home</a></li>
            <li><a href="/products/category/<%=1%>" class="nav-li">Pesca</a></li>
            <li><a href="/products/category/2" class="nav-li">Camping</a></li>
            <li><a href="/products/category/3" class="nav-li">Óptica</a></li>
            <li><a href="/products/category/4" class="nav-li">Iluminación</a></li>
            <li><a href="/products/category/5" class="nav-li">Accesorios</a></li>
            <% if (locals.userLogin) { %>
                <% if (userLogin.role===1 ) { %>
                    <li id="botonAdmin"><a class="nav-li" href="/admin">Dashboard</a></li>
                <% }else{ %>
                    <li><a class="nav-li" href="/products/allProducts">Productos</a></li>
                <% } %>
                <li id="botonSalir"><a class="nav-li" href="/users/salir">Salir</a></li>
            <% } %>                 
        </ul>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var categoriasBtn = document.getElementById('categoriasBtn');
    var categoriasOptions = document.getElementById('categoriasOptions');

    categoriasBtn.addEventListener('click', function() {
        categoriasOptions.style.display = (categoriasOptions.style.display === 'block') ? 'none' : 'block';
    });

    document.addEventListener('click', function(event) {
        if (!categoriasBtn.contains(event.target)) {
            categoriasOptions.style.display = 'none';
        }
    });
});
    </script>
    <script src="/js/productCart.js"></script>
</header>