<div class="swiper-slide">
    <a href="/products/detail"
      ><img
        src="/images/reelRotativoPredator307.png"
        alt="destacado1"
    /></a>
    <p>Reel Rotativo Predator 307</p>
    <p class="precioAnt"><del>$36.560</del></p>
    <p class="precioActual">$25.420</p>
  </div>