<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/styles.css">
<script src="https://kit.fontawesome.com/823b55d81b.js" crossorigin="anonymous"></script>
<title>Login</title>
</head>
<body> 
    <!-- <header class="header">
        <div class="header__div"> 
                <div class="div__hamburguesa">
                <img src="/images/hamburguesa.svg" alt="" class="hamburguesa" >
                </div>
                <div class="header__logo">
                    <a class="logo" href="/"><img src="/images/logo.svg" alt=""></a>
                    <img src="/images/nombre_logo.svg" alt="" class="nombre_logo">
                </div>
    
            <div class="header__buscar">
                <a href="" >
                    <input type="text" placeholder="Buscar" class="header__input">
                    <button type="submit" class="header__button"><i class="fas fa-search"></i></button>
                </a>
            </div>
            <div class="header__div__login">
                <a href="/login" ><img src="/images/usuario.svg" alt=""  class="usuario__carrito"></a>
                <a href="/product-cart"><img src="/images/carrito.svg" alt="" class="usuario__carrito"></a>
            </div>
        </div>
        <nav class="header__nav">
            <ul class="nav-ul">
                <li ><a href="#" class="nav__li">Home</a></li>
                <li><a href="#" class="nav__li">Pesca</a></li>
                <li><a href="#" class="nav__li">Camping</a></li>
                <li><a href="#" class="nav__li">Óptica</a></li>
                <li><a href="#" class="nav__li">Iluminación</a></li>
                <li><a href="#" class="nav__li">Accesorios</a></li>
                <li><a href="#" class="nav__li ">Promociones</a></li>
            </ul>
        </nav>
        
    </header> -->
    
<main class="main-login">
<div class="login">

    <div class="acceder">
        <img src="/images/logo-suyds.png" alt="">
        <p>SUYDS</p>
    </div>
    
    <div class="form-container">
        
        <form action="#">
            
            <div class="form">
                
                <div class="input-container">
                    <input class="input-style" type="email" name="Email" placeholder="Email">
                    <span class="error-message">Debes ingresar un email</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <span class="error-message">Debes ingresar su contraseña</span>
                </div>  
            </div>
        
        </form>

        <div class="forget">
            <a href="#"><p>¿Has olvidado la contraseña?</p></a>
        </div>

        <div class="button-container">
            <div class="button">
                <button type="submit"><a href="/">Iniciar Sesión</a></button>
            </div>
        </div> 

        <div class="login-others">
            
            <p>O iniciar Sesión con: </p>
            
            <div class="others-container">
                <div>
                    <i class="fa-brands fa-google"></i><a href="#"><p> Ingresar con Google</p></a>
                </div>
            </div>
            
            <div class="others-container">
                <div>
                    <i class="fa-brands fa-square-facebook"></i><a href="#"><p> Ingresar con Facebook</p></a>
                </div>
            </div>
            
            <div class="register-noLogin">
                <p>¿No tienes una cuenta? <a href="/register">Registrate</a></p>
            </div>
        
        </div>
    
    </div>

</div>
</main>
</body>
</html>