<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
  <body class="register"> 
      <%- include('../partials/header.ejs') %>
  <main class="register__main">
        <div class="register__main__div">
          <form action="#" class="formulario">
              <h6 class="titular">FORMULARIO DE REGISTRO</h6>
              <input
                class="input"
                id="name"
                type="text"
                placeholder="Nombre y apellido"
                name="name">
            
              <input
                class="input"
                id="usuario"
                type="text"
                placeholder="Nombre de usuario"
                name="usuario">
            
            <input
                class="input"
                id="email"
                type="email"
                placeholder="Email"
                name="email">

            <div class="pass__container">
              <input
                class="input"
                id="password"
                type="password"
                placeholder="Contraseña"
                name="password">
              <i class="fa-solid fa-eye ojo1"></i> 
            </div>      

            <div class="pass__container">
            <input
                class="input"
                id="passwordR"
                type="password"
                placeholder="Repetir contraseña"
                name="passwordR">
              <i class="fa-solid fa-eye ojo2"></i>
            </div>

              <div class="formulario_divs">
                <input type="checkbox"> <small>He leído y acepto los terminos y condiciones.</small>
                <input type="checkbox"> <small>Deseo recibir ofertas y novedades por mail.</small>
                <button class="boton" type="button"><a href="/">REGISTRARSE</a></button>
              </div>
    
              <div class="formulario_divs">
                <h5>¿Ya tienes una cuenta?</h5>
                <a href="/login">Inicia sesión</a>
              </div>
        </form>
        <img class="imagen__registro" src="/images/FONDO_REGISTER.jpg" alt="fondo">
        </div>
      </main>
      
      
      <%- include('../partials/footer.ejs') %>
</body>
</html>